<div id="mySidenav" class="sidenav w3-light-green">
{#    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>#}
    <a href="{{ path('admin_liste_users') }}">Gestion des utilisateurs</a>
</div>

