<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Mon profil</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>
