<div id="mySidenav" class="sidenav w3-indigo">
{#    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>#}
    <a href="{{ path('homepage') }}">Accueil</a>
    <a href="{{ path('contact') }}">Contact</a>
</div>
